<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="0YWTY9dt35x5glLsct0gi5RwI_rRPULqGO-6DH7k6Fg"/>
    <title>Zlapser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>
<body ng-app="app">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#"><i class="icon-camera-retro"></i> ZLapser</a>
            <a data-toggle="modal" data-target="#shutdownmodel" class="anone pull-right" style="font-size: 40px;"><i
                    class="icon-off"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div ng-view ng-animate="{enter: 'view-enter'}"></div>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; ZIAX - <a href="http://www.ziax.dk" target="_blank">www.ziax.dk</a> 2013 <i ng-show="job.isInitial"
                                                                                              class="icon-spinner icon-spin"></i>
        </p>

        <div class="alert alert-error" ng-hide="job.isPi">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Ups!</strong> This can only be runned on a Rasperry pi
        </div>
    </footer>
</div>

<div class="modal hide fade" id="shutdownmodel" ng-controller="shutdownmodal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Sure?</h3>
    </div>
    <div class="modal-body">
        <p>This will cancel zlapser and shutdown the pi</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-danger" ng-click="fireDown()" ng-disabled="!job.isPi">Shutdown</button>
    </div>
</div>


<script type="text/ng-template" id="html.tmpl">
    <div class="hero-unit">
        <h1><i class="icon-bullhorn"></i> Hello</h1>

        <p> This is the ZLapser. It can slap you in your neck.. Nooo, seriously it can take a lots of photograhps over a
            long period of time and afterwards, you can glue em
            to a movie. Doesn't that sound cool?</p>

        <p><a ng-click="go('start')" class="btn btn-primary btn-large">Click to <span
                ng-show="job.isPi">start</span><span ng-hide="job.isPi">preview</span> &raquo;</a></p>

        <p class="text-center">
            <a ng-click="go('about')" class="btn btn-link">
                Click for readme.md</a><a href="https://github.com/ziaxdk/zlapser" target="_blank" class="btn btn-link">View
            on Github</a>

        </p>

        <div class="text-center">
            <iframe width="420" height="315" src="http://www.youtube.com/embed/-89zWoQHKok" frameborder="0"
                    allowfullscreen></iframe>
            <h5>250 frame / 10 final / 25fps / ffmpeg -r 25 -i img_%04d.jpg -vcodec libx264 movie.mp4</h5>

        </div>
    </div>
</script>

<script type="text/ng-template" id="start.tmpl">
    <h1>Step 1 of 2</h1>

    <form ng-controller="setup" ng-submit="submit()" novalidate name="setupForm">
        <fieldset>
            <legend>Hardware</legend>
            <label>Which pin is the "homecooked" circuit attached to <i class="icon-question-sign"
                                                                        data-content="The circuit must be attached to the Pi. Select which pin from range 1 to 26"
                                                                        data-toggle="popover"></i></label>
            <input type="number" name="pin" ng-model="model.pin" placeholder="Pin..." class="input-mini" required
                   min="1"
                   max="26"/> <input type="button" class="btn btn-small" style="Margin-top:-10px;" ng-click="snap()"
                                     ng-disabled="{{!job.isPi}}"
                                     value="Take a snap"/> <input type="button" class="btn btn-small"
                                                                  style="Margin-top:-10px;" ng-click="gpio()"
                                                                  value="Show me GPIO pins"/>

            <div ng-show="showGpio" ng-animate="'expand'" style="display: none; translate3d(0,0,0)">
                <img src="img/GPIOs.png" alt="GPIO pin diagram">

                <p>Source: <a href="http://elinux.org/RPi_Low-level_peripherals">http://elinux.org/RPi_Low-level_peripherals</a>
                </p>
            </div>
            <div class="alert alert-error" ng-show="(!setupForm.pin.$valid)&&(!setupForm.pin.$pristine)">
                <strong>Oh!!</strong> Required and range from 1 to 26
            </div>
            <legend>Recording</legend>
            <label>Operation time the camera will take pictures <i class="icon-question-sign"
                                                                   data-content="Specify how long the camera should take photos. Valid inputs: 00:00:00, 00h, 000000s"
                                                                   data-toggle="popover"></i></label>
            <input type="text" ng-model="model.optime" placeholder="Duration..." required/>
            <label>How long should the final movie be <i class="icon-question-sign"
                                                         data-content="Specify how long the final movie should be. Valid input: 00:00:00, 00h, 000000s"
                                                         data-toggle="popover"></i></label>
            <input type="text" ng-model="model.fintime" placeholder="Movie duration..." required/>
            <label>Desired framerate in final move <i class="icon-question-sign"
                                                      data-content="Specify the framerate in the final movie"
                                                      data-toggle="popover"></i></label>
            <input type="text" ng-model="model.finrate" placeholder="Framerate..." class="input-mini" required
                   pattern="[0-9]*"/>

            <div class="alert alert-error" ng-show="model.fpsErr()">
                <strong>Oh snap!</strong> fps cannot be greater than 2. At least on my old camera. :-)
            </div>

            <div class="alert alert-block alert-info">
                <h4>info!</h4>

                <div>Total frames to be captured: <strong>{{model.fintime*model.finrate}}</strong></div>
                <div>Pictures per second: <strong>{{(model.fintime*model.finrate)/model.optime | number:2}}</strong> <i
                        ng-class="{'icon-thumbs-up': !model.fpsErr(), 'icon-thumbs-down': model.fpsErr()}"></i>
                </div>
            </div>
            <button type="submit" class="btn" ng-disabled="!(setupForm.$valid)||model.fpsErr()">Submit</button>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="review.tmpl">
    <h1>Step 2 of 2</h1>

    <p class="lead text-center">
        <i class="icon-quote-left"></i> A picture is worth a thousand words <i class="icon-quote-right"></i><br>
        <a href="http://en.wikipedia.org/wiki/A_picture_is_worth_a_thousand_words" target="_blank">
            <small>Wikipedia</small>
        </a>
    </p>

    <p class="text-center">I wonder what thousands of pictures, will tell you.</p>

    <p class="text-center lead">
        <a ng-click="startJob()" class="anone">
            <i class="icon-play icon-4x"></i><br>Start zlapser
        </a>
    </p>

</script>

<script type="text/ng-template" id="bye.tmpl">
    <h1>Shutting down</h1>

    <p>Bye</p>

</script>

<script type="text/ng-template" id="running.tmpl">
    <h1>Status</h1>


    <div ng-show="job.isRunning">
        <h4>ZLapser is running...</h4>
        <a href="javascript:;" ng-click="stopJob()">Press here</a> to stop...
        <dl class="dl-horizontal">
            <dt>We are at frame</dt>
            <dd>{{job.currentFrame}}</dd>
            <dt>We must go to</dt>
            <dd>{{job.numOfTotalFrames}}</dd>
            <dt>Job started</dt>
            <dd>{{job.time.start|date:'medium'}}</dd>
            <dt>Time elapsed</dt>
            <dd>{{job.time.elapsed}}</dd>
            <dt>Job should end</dt>
            <dd>{{job.time.end|date:'medium'}}</dd>
        </dl>
        <div class="text-center"><i class="icon-camera icon-4x text-center" ng-style="{color: color}"></i>
        </div>

    </div>

    <div class="progress">
        <div class="bar" style="width: {{job.percent}}%;"></div>
    </div>
    <div ng-hide="job.isRunning" class="ng-cloak">
        <h1 class="text-center">Finished. :-)</h1>
        <hr/>
        <div class="alert alert-info">
            <strong>Hurray!!</strong> Now you can empty your camera card and create a movie!
        </div>
        <div>
            Rename your files to img_XXXX.jpg, where XXXX is a counter. MUST start with 0001 = img_0001.jpg

        </div>
        <h3>Some <a href="http://ffmpeg.org" target="_blank">ffmpeg</a> commands</h3>
        <h4><a href="http://en.wikipedia.org/wiki/H264" target="_blank">h264</a></h4>
        <pre>ffmpeg -r {{model.finrate}} -i img_%04d.jpg -vcodec libx264 movie.mp4</pre>
        <h4><a href="http://en.wikipedia.org/wiki/WebM" target="_blank">WebM</a></h4>
        <pre>ffmpeg -r {{model.finrate}} -i img_%04d.jpg movie.webm</pre>
        <h4><a href="http://en.wikipedia.org/wiki/Audio_Video_Interleave" target="_blank">Raw avi</a></h4>
        <pre>ffmpeg -r {{model.finrate}} -i img_%04d.jpg -vcodec copy movie.avi</pre>
        <p>Sources <a href="http://ffmpeg.org/trac/ffmpeg/wiki/Create%20a%20video%20slideshow%20from%20images"
                      target="_blank">ffmpeg.org</a> and <a
                href="http://stackoverflow.com/questions/7468274/ffmpeg-images-to-video-script-anyone" target="_blank">Stackoverflow</a>
        </p>
        <h6>Links:</h6>
        <ul>
            <li><a href="http://ffmpeg.org" target="_blank">http://ffmpeg.org</a></li>
        </ul>
    </div>
</script>
<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="js/angular.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/moment.min.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="ngapp.js" type="text/javascript"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-40568024-1', 'zlapser.net');
    ga('send', 'pageview');

</script>

</body>
</html>